body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Evita o scroll horizontal */
}

header {
    background: #EA849F;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #EA849F;
    padding: 0.5rem 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000000;
}

main {
    padding: 4rem 2rem 2rem; /* Adiciona espaço suficiente no topo para o cabeçalho fixo */
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

.content {
    text-align: center;
    margin-bottom: 2rem;
}

.content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Centraliza o texto */
}

h1 {
    color: #333;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Centraliza o container */
    max-width: 600px; /* Define a largura máxima */
}

.portfolio-item {
    margin-bottom: 1rem;
    text-align: center; /* Centraliza o texto dentro do item */
}

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    background: #dd5f80;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
    text-align: center;
}

.button:hover {
    background: #4FC4AB;
}

form {
    margin-top: 1rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 0.5rem 1rem;
    border: none;
    background:#dd5f80;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #4FC4AB;
}

footer {
    background: #EA849F;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 1rem 0;
    }
}
